<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Text Recognition Tool</title>
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquerysctipttop.css') }}">
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.imageuploader.css') }}">
</head>

<body><div id="jquery-script-menu">
    <p align="center" style="font-size:30px">Text Recognition Tool</p>
<div class="jquery-script-clear"></div>
</div>
</div>
<section role="main" class="l-main" style="margin-top:150px;">
        <!--<header class="site-header">
            <h3 class="site-title l-site-title" style="color:black">Text Recognition Tool</h3>
        </header>-->
        <div class="uploader__box js-uploader__box l-center-box">
            <form action="fallback">
                <div class="uploader__contents">
                    <label class="button button--secondary" for="fileinput">Select Files</label>
                    <input id="fileinput" class="uploader__file-input" type="file" multiple value="Select Files">
                </div>
                <input class="button button--big-bottom" type="submit" value="Upload Selected Files">
            </form>
        </div>
</section>

<table id="table-process" class="hidden" align="center">
    <tr>
        <th >FileName</th>
        <th>Accuracy</th>
    </tr>
</table>

<script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.imageuploader.js')}}"></script>
<script>
(function(){
            var options = {submitButtonCopy: 'Process',
            furtherInstructionsCopy: 'You can also drop more files, or'
};
            $('.js-uploader__box').uploader(options);

        }());
</script>

</body>

</html>





